    <div class="ui container">
      <div class="ui large secondary inverted blue pointing menu padded">
        <a href="/list" class="item {{ a1 }}">ALL</a>
        <a href="/" class="item {{ a2 }}">Uncompleted</a>
        <a href="/completed" class="item {{ a3 }}">Completed</a>
        <a href="/about">About</a>
        <div class="right item">
          <a class="ui inverted button">Log in</a>
          <a class="ui inverted button">Sign Up</a>
          <a href="/about">About</a>
        </div>
      </div>
    </div>
